
<button [routerLink]="['/nuevaapuesta']"class='btn btn-success m-4 '>Apostar</button>
<table *ngIf='apuestas; else condicionelse' class='table table-dark'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Usuario</th>
      <th>Resultado</th>
      <th>Fecha</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let a of apuestas'>
      <td>{{a.idApuesta}}</td>
      <td>{{a.usuario}}</td>
      <td>{{a.resultado}}</td>
      <td>{{a.fecha}}</td>
      <td><button  class='btn btn-danger' data-bs-toggle='modal' [attr.data-bs-target]="'#apuesta'+a.idApuesta">Eliminar</button></td>
      <div class="modal" [id]="'apuesta'+a.idApuesta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-dark">Eliminar Apuesta</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark">
              <p>¿Estas seguro de que quieres eliminar esta apuesta?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  (click)='eliminarApuesta(a.idApuesta)'>Eliminar</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </tr>
  </tbody>
</table>
<ng-template style='margin:auto' #condicionelse>
  <p>Cargando apuestas...</p>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>

